body {
    background-color: black;

}
.box1 {
    text-align: center;
}
.click {
    margin-top: 30px;
    font-weight: bold;
    padding: 20px;
    color: #fff;
    border: 5px solid #fff;
    display: inline-block;
    transition: all .5s ease;
}

.survol:hover {
    background: #fff;
    color: #232323;
}

.scale:hover {
    background: #fff;
    color: #232323;
    transform: scale(1.2);
}

.right:hover {
    transform: translate(70px);
    background: #fff;
    color: #232323;
}
.img {
    width: 50%;
    height: auto;
    
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




